#meet {
    margin-top: 30px;
}

/* #meet .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
} */
/* 
#meet .img-col {
    justify-content: flex-end;
    margin-top: 100px;
} */
/* 
#meet img {
    max-width: 400px;
} */

/* #meet2 {
    margin-top: 1px;
    margin-bottom: 0px;
}
 */
/* #meet2 .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
} */

/* #meet2 .img-col {
     justify-content:flex-end;
    margin-top: 100px; 
} */

/* #meet2 img {
    max-width: 600px;
    /* padding-right: 150px; */
    /* max-height: 700px;
} */

#meet3 {
    margin-bottom: 30px;
}

/* #meet3 .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
} */

/* #meet3 .img-col {
    justify-content: flex-end;
    margin-top: 100px;
} */

#meet3 img {
    max-width: 400px;
    /* padding-bottom: 55px;
    padding-left: 150px; */
}