*{
    list-style: none;
}

:root {
    --bgColor: #EBF3FF;
    --priColor: #00928F;
}

/* Fonts */
/* Regular font */
@font-face {
    font-family: 'Helvetica Now Text';
    src: url('../fonts/Helvetica/HelveticaNowText/HelveticaNowText-Regular.eot');
    src: local('Helvetica Now Text  Regular'), local('HelveticaNowText-Regular'),
        url('../fonts/Helvetica/HelveticaNowText/HelveticaNowText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica/HelveticaNowText/HelveticaNowText-Regular.woff2') format('woff2'),
        url('../fonts/Helvetica/HelveticaNowText/HelveticaNowText-Regular.woff') format('woff'),
        url('../fonts/Helvetica/HelveticaNowText/HelveticaNowText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Extra Bold font */
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/Helvetica/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.eot');
    src: local('Helvetica Now Display ExtBd'), local('HelveticaNowDisplay-ExtraBold'),
        url('../fonts/Helvetica/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.woff2') format('woff2'),
        url('../fonts/Helvetica/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.woff') format('woff'),
        url('../fonts/Helvetica/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* Bold font */
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/Helvetica/HelveticaNowDisplay/HelveticaNowDisplay-Bold.eot');
    src: local('Helvetica Now Display Bold'), local('HelveticaNowDisplay-Bold'),
        url('../fonts/Helvetica/HelveticaNowDisplay/HelveticaNowDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica/HelveticaNowDisplay/HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('../fonts/Helvetica/HelveticaNowDisplay/HelveticaNowDisplay-Bold.woff') format('woff'),
        url('../fonts/Helvetica/HelveticaNowDisplay/HelveticaNowDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Light font */
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/Helvetica/HelveticaNowDisplay/HelveticaNowDisplay-Light.eot');
    src: local('Helvetica Now Display Light'), local('HelveticaNowDisplay-Light'),
        url('../fonts/Helvetica/HelveticaNowDisplay/HelveticaNowDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica/HelveticaNowDisplay/HelveticaNowDisplay-Light.woff2') format('woff2'),
        url('../fonts/Helvetica/HelveticaNowDisplay/HelveticaNowDisplay-Light.woff') format('woff'),
        url('../fonts/Helvetica/HelveticaNowDisplay/HelveticaNowDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: var(--bgColor);
    font-family: 'Helvetica Now Text', sans-serif;
    font-style: normal;
    font-weight: normal;
}

/* ######### Utilities ########## */
/* Fonts */
.font-helvetica-regular {
    font-family: 'Helvetica Now Text', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.font-helvetica-bold {
    font-family: 'Helvetica Now Display', sans-serif !important;
    font-weight: bold;
    font-style: normal;
}

.font-helvetica-xbold {
    font-family: 'Helvetica Now Display', sans-serif !important;
    font-weight: 800;
    font-style: normal;
}

.font-helvetica-light {
    font-family: 'Helvetica Now Display', sans-serif !important;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
}

/* Text Size */
.fs-xlarge {
    font-size: 30px !important;
}

.fs-small {
    font-size: 14px !important;
}

.fs-tiny {
    font-size: 12px !important;
}

/* Background and Colors */
.bg-color {
    background-color: var(--bgColor);
}

.primary-color {
    background-color: var(--priColor);
}

/* Neumorphic Design */
.outer-neu-shadow {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25),
                -4px -4px 8px rgb(255, 255, 255);
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
                -2px -2px 4px rgb(255, 255, 255);
}

.btn-neu-shadow, .neu-shadow {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25),
                -4px -4px 8px rgb(255, 255, 255);
    cursor: pointer;
}

.btn-neu-shadow:hover {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
                inset -2px -2px 4px rgb(255, 255, 255, 0.25);
}

.neu-shadow.active, .neu-shadow:hover {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
                inset -2px -2px 4px rgb(255, 255, 255);
}

.rounded-4 {
    border-radius: .6rem;
}

.sub-heading {
    position: relative;
}

.sub-heading::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -7px;
    width: 40px;
    height: 3px;
    border-radius: 20px;
    background-color: #FF8F00;
}

.w-sm-25 {
    width: 35%;
}

.w-md-75 {
    width: 75%;
}

.text-silver {
    color: #c0c0c0;
}

a.text-silver:hover {
    color:#ffffff;
}

.radius-20 {
    border-radius: 20px;
}

.radius-10 {
    border-radius: 10px;
}

/* Nav Styling */
.nav-overlay {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1000;
}

.logo {
    width: 90px;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: inherit !important;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.15),
                inset -2px -2px 4px rgb(255, 255, 255);
}

.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    background-color: inherit !important;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 0 .4em .4em;
    vertical-align: middle;
    content: "";
    border: .3em solid #6c757d;
    border-width: 0 .15em .15em 0;
    transform: rotateZ(45deg);
}

/* Header */
.header-image {
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.25)) drop-shadow(-3px -3px 6px rgb(255, 255, 255, 0.25));
}

/* Services */
.services-box {
    width: 110px;
    margin: 0 auto;
}

/* Blog */
.blog-image {
    height: 200px;
}

.blog-image img {
    object-fit: cover;
    height: 100%;
}

/* Modal/Contact Form */
.field {
    background: inherit;
    outline: none;
    border: none;
    padding: .6rem 1.4rem;
    box-shadow: inset 4px 4px 4px #cbced1,
                inset -4px -4px 4px #ffffff;
}

/* Remove default buttons on number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Footer */
footer {
    background-color: #4A5568;
}

.footer-links li {
    padding: 0 !important;
    margin: 0!important;
}

.footer-logo {
    width: 100px;
}

.fab {
    font-size: 20px;
    transition: color .3s ease;
}

.fab:hover {
    color: #ffffff;
}

/* Hover Ball Effect */
.nav-item {
    position: relative;
}

.hover-ball {
    position: absolute;
    bottom: -25px;
    left: 50%;
    opacity: 0;
    transition: all .3s ease;
}

.nav-item > a:hover + img.hover-ball:not(.active) {
    bottom: -5px;
    opacity: 1;
}

.nav-item > img.hover-ball.active {
    opacity: 1;
    bottom: -5px;
}

/* Responsive Styling */

@media (min-width: 576px) {
    .fs-xlarge {
        font-size: 45px !important;
    }

    .w-sm-25 {
        width: 35%;
    }

    .w-md-75 {
        width: 75%;
    }
}

@media (min-width: 768px) {
    .nav-overlay {
        top: -5px !important;
    }

    .logo {
        width: 100px;
    }

    .footer-logo {
        width: 150px;
    }

    .w-md-75 {
        width: 100%;
    }
    
    .fs-xlarge {
        font-size: 30px !important;
    }

    .services-box {
        width: 130px;
    }
}

@media (min-width: 850px) {
    .nav-overlay {
        top: -10px !important;
    }
}

@media (min-width: 992px) {
    .nav-overlay {
        top: -10px !important;
    }

    .fs-xlarge {
        font-size: 45px !important;
    }
}

@media (min-width: 1200px) {
    .nav-overlay {
        top: -60px !important;
    }

    .fs-xlarge {
        font-size: 55px !important;
    }
}

@media (min-width: 1400px) {
    .nav-overlay {
        top: -90px !important;
    }
}

@media (min-width: 1700px) {
    .nav-overlay {
        display: none;
    }
}