:root {
    --priColor: #EBF3FF;
}

body {
    background-color: var(--priColor);
}

/* Utilities */
.primary-color {
    background-color: var(--priColor);
}

.outer-neu-shadow {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25),
                -4px -4px 8px rgb(255, 255, 255);
}

.inner-neu-shadow {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
                inset -2px -2px 4px rgb(255, 255, 255);
}

/* Nav Styling */
.nav-overlay {
    position: absolute;
    width: 100%;
    top: -20px;
    /* height: 300px; */
    /* object-fit: cover; */
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: inherit !important;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.15),
                inset -2px -2px 4px rgb(255, 255, 255);
}

.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    background-color: inherit !important;
}





/* Responsive Styling */

@media (min-width: 576px) {
    .nav-overlay {
        top: -50px;
    }
}

@media (min-width: 768px) {
    .nav-overlay {
        top: -100px;
    }
}

@media (min-width: 992px) {
    .nav-overlay {
        top: -150px;
    }
}

@media (min-width: 1200px) {
    .nav-overlay {
        top: -200px;
    }
}