:root {
    --bgColor: #EBF3FF;
    --priColor: #00928F;
}

body {
    background-color: var(--bgColor);
}

/* Utilities */
.bg-color {
    background-color: var(--bgColor);
}

.primary-color {
    background-color: var(--priColor);
}

.outer-neu-shadow {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25),
                -4px -4px 8px rgb(255, 255, 255);
}

.inner-neu-shadow {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
                inset -2px -2px 4px rgb(255, 255, 255);
}

.btn-neu-shadow, .neu-shadow {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25),
                -4px -4px 8px rgb(255, 255, 255);
    cursor: pointer;
}

.btn-neu-shadow:hover {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
                inset -2px -2px 4px rgb(255, 255, 255, 0.25);
}

.neu-shadow.active, .neu-shadow:hover {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
                inset -2px -2px 4px rgb(255, 255, 255);
}

.rounded-4 {
    border-radius: .6rem;
}

.sub-heading {
    position: relative;
}

.sub-heading::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -7px;
    width: 40px;
    height: 3px;
    border-radius: 20px;
    background-color: #FF8F00;
}

/* Nav Styling */
.nav-overlay {
    position: absolute;
    width: 100%;
    top: -20px;
    z-index: -1000;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: inherit !important;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.15),
                inset -2px -2px 4px rgb(255, 255, 255);
}

.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    background-color: inherit !important;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 0 .4em .4em;
    vertical-align: middle;
    content: "";
    border: .3em solid;
    border-width: 0 .15em .15em 0;
    transform: rotateZ(45deg)
}

/* Blog */
.blog-image {
    height: 200px;
}

.blog-image img {
    object-fit: cover;
    height: 100%;
}



/* Responsive Styling */

@media (min-width: 576px) {
    .nav-overlay {
        top: -50px;
    }
}

@media (min-width: 768px) {
    .nav-overlay {
        top: -100px;
    }
}

@media (min-width: 992px) {
    .nav-overlay {
        top: -150px;
    }
}

@media (min-width: 1200px) {
    .nav-overlay {
        top: -200px;
    }
}